body{
    margin: 0px;
}

nav{
    width: 100%;
    height: 60px;
    background-color: rgb(60, 63, 92);
}

nav a{
    display: block;
    float: left;
    font-family: 'Concert One';
    font-size: 13px;
    color: white;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    text-decoration: none;
}

nav a:hover{
    background-color: #aa0d3c;
}

strong{
    font-size: 35px;
    text-shadow: 1px 1px 2px darkgrey;
}

.contenido-principal{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.contenido-principal p{
    text-align: justify;
    font-family: 'Open Sans';
    font-size: 18px;
}

.titulo-cuento { color: #111; 
    font-family: 'Open Sans Condensed', sans-serif; 
    font-size: 48px; 
    font-weight: 700; 
    line-height: 48px; 
    margin: 24px 0 24px; 
    padding: 0 30px; 
    text-align: center; 
}

.autor-cuento { 
    color: #111; 
    display: block; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 16px; 
    padding-bottom: 38px; 
    margin-top: 0px;
    position: relative; 
    text-align: center; 
    z-index: 1; 
}


.autor-cuento:before { 
    border-top: 1px solid #111; 
    content: ""; 
    position: absolute; 
    top: 12px; 
    left: 0; 
    width: 100%; 
    z-index: -1; 
}

.autor-cuento span{
    background: white; 
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;    
    padding-top: 0px;
}

.seccion-cuento { 
    color: #111; 
    display: block; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 20px;     
    position: relative; 
    text-align: left; 
    z-index: 1; 
}

.seccion-cuento:before { 
    border-top: 1px solid #111; 
    content: ""; 
    position: absolute; 
    top: 12px; 
    left: 0; 
    width: 100%; 
    z-index: -1; 
}

.seccion-cuento span{
    background: white; 
    padding: 0px 10px 0px 0px;
}

.right-phrase{
    text-align-last: right;
    font-style: italic;
    margin: 0px;
}

.imagen-cuento{
    float: right;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 40px;
    box-shadow: 0 28px 16px -26px rgba(0, 0, 0);    
}

.lista-frases{
    font-family: 'Open Sans';
    font-style: italic;
    margin-left: 30px;
}

.glosario-termino{
    text-shadow: 1px 1px 2px darkgrey;
}

#imagen-bio{
    margin-left: 26.5%;
    margin-top: 20px;
    box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
}
#logo-edgar{
  font-family: 'Open Sans';
  font-size: 25px;
  text-shadow: 1px 1px 2px #f7ebeb;  
  padding-left: 20px;
  padding-right: 30px;
  margin-right: 10px;
  margin-top: -10px;
}

#logo-edgar:hover{
    background-color: ghostwhite;
    color: black;
}

#contador-comentarios{
    text-align: right;
    font-family: 'Open Sans';
    color: #034e94;
    text-decoration: none;
}
#contador-comentarios:hover{
    text-decoration: underline;
}

#titulo-edgar-bio { 
    color: #111; 
    font-family: 'Open Sans Condensed', sans-serif; 
    font-size: 38px; 
    font-weight: 600; 
    line-height: 48px; 
    margin: 24px 0 0 24px;     
    text-align: center; 
}

#fecha-edgar{
    color: #111; 
    font-family: 'Open Sans Condensed', sans-serif; 
    font-size: 20px; 
    font-weight: normal;  
    margin-top: auto;   
    text-align: center; 
}